/* ======
Global 
====== */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

/* ======
Typography 
====== */
h1 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 2.75rem;
  font-weight: 500;
  color: #0169b4;
}

h3 {
  font-size: 1.7rem;
  color: #666;
}

p {
  font-size: 1rem;
  color: #878787;
}

/* ======
Layout 
====== */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* ======
Container 
====== */
.container {
  width: 75%;
  margin: 0 auto;
}

/* ======
Button 
====== */
.btn {
  color: #999;
  font-size: 1rem;
  padding: 0.8em 2em;
  border: 2px solid #ccc;
  border-radius: 25px;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.btn:hover, .btn:focus {
  color: #fff;
  background-color: #0169b4;
  border: 2px solid #0169b4;
  -webkit-box-shadow: 0 0 14px 2px rgba(1, 105, 180, 0.26);
          box-shadow: 0 0 14px 2px rgba(1, 105, 180, 0.26);
}

/* ======
Burger Menu 
====== */
.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-menu__line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

/* Burger Animation*/
.toggle .burger-menu__line--first {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .burger-menu__line--second {
  opacity: 0;
}

.toggle .burger-menu__line--third {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

/* ======
Header 
====== */
.header {
  background: linear-gradient(45deg, #0169b4 0%, #a72b8f 100%);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3vh;
}

/* Header Logo */
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo p {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding-left: 0.5em;
}

.header__logo span {
  font-weight: 300;
}

/* Header Nav */
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__links li {
  display: inline-block;
  padding-left: 1.5em;
}

.nav__link {
  color: #fff;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.nav__link::after,
.header__logo p::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
}

.nav__link:hover::after,
.nav__link:focus::after,
.header__logo:hover p::after,
.header__logo:focus p::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

/* Header Introduction */
.header__introduction {
  padding: 10em 0 20em;
  line-height: 4em;
}

.header__introduction span {
  font-weight: 700;
}

/* ======
Features 
====== */
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -10em;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 25%;
  height: 30em;
  background-color: #fff;
  -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
}

.feature p {
  padding: 0 2em;
}

.feature__svg {
  height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

/* ======
Introduction 
====== */
.introduction__wrap {
  margin-top: 5em;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction__body {
  width: 47%;
}

.introduction__body p {
  padding: 2em 0;
  line-height: 30px;
}

.introduction__photo {
  width: 47%;
}

/* ======
Projects 
====== */
.projects__wrap {
  margin: 5em 0 10em;
}

.projects__title {
  padding-bottom: 5em;
}

.projects {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  grid-gap: 3%;
}

.project {
  position: relative;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.project span {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.project img {
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.project:hover span,
.project:focus span {
  opacity: 1;
}

/* ======
Solutions 
====== */
.solutions__wrap {
  margin-bottom: 5em;
}

.solutions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.solutions__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3em;
}

.solution {
  width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.solution p {
  padding-top: 1em;
  line-height: 30px;
}

/* ======
Reviews 
====== */
.reviews__wrap {
  background-color: #fff;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__body {
  width: 47%;
  padding: 1em 0;
}

.reviews__body p {
  padding: 3em 0 1.5em 1em;
  position: relative;
}

.reviews__body p::before {
  content: open-quote;
  font-size: 3rem;
  position: absolute;
  top: 0.5em;
  left: 0;
}

.reviews__body span {
  display: block;
  color: #333;
  font-weight: 700;
  padding-top: 1.5em;
}

.reviews__body .btn {
  float: right;
}

.reviews__photo {
  width: 47%;
}

/* ======
News 
====== */
.news__wrap {
  margin: 5em 0;
}

.news__group {
  padding-top: 2.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__item {
  width: 30%;
  height: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__item .btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.news__item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.news__item__title h3 {
  display: inline-block;
  word-wrap: initial;
}

.news__item__title span {
  display: block;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.news__date {
  color: #ccc;
  font-size: 2rem;
  margin-right: 0.5em;
}

/* ======
Footer 
====== */
.footer {
  background: linear-gradient(-135deg, #0169b4 0%, #a72b8f 100%);
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

.footer__inner {
  padding-top: 5em;
  position: relative;
  overflow-y: hidden;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__item i {
  color: #fff;
  font-size: 1.5rem;
  border: 2px solid #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__item p {
  color: #fff;
  font-size: 0.8rem;
  padding-top: 0.4em;
}

.contacts__item:nth-child(3) i {
  font-size: 2rem;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5em 0;
}

.socials i,
.socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.socials i:hover,
.socials a:focus {
  border: 2px solid #fff;
}

.footer__btn {
  position: absolute;
  left: 50%;
  bottom: -60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-transition: bottom 0.2s ease-in-out;
  transition: bottom 0.2s ease-in-out;
}

.footer__btn i {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.7rem;
  color: #a72b8f;
}

.footer__btn:hover {
  bottom: -53px;
}

/* ======
Media 
====== */
@media (max-width: 1440px) {
  /* Global */
  .feature {
    width: 30%;
  }
  /* News  */
  .news__item {
    height: 25em;
  }
}

@media (max-width: 1280px) {
  /* Global */
  html {
    font-size: 16px;
  }
  /* Header Logo */
  .header__logo svg {
    width: 20%;
    height: 20%;
  }
  /* Header Nav */
  .nav__link::after,
  .header__logo p::after {
    height: 2px;
  }
  /* Features */
  .feature {
    width: 30%;
  }
  /* Projects */
  .project span {
    color: #fff;
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
  /* Global */
  html {
    font-size: 14px;
  }
  /* Burger Menu */
  .burger-menu {
    display: block;
    z-index: 1;
    position: relative;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  /*Header Nav */
  .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .nav__links li {
    padding: 0;
  }
  .nav__links--active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav__link {
    font-size: 2rem;
  }
  /* Header Logo */
  .header__logo svg {
    width: 15%;
    height: 15%;
  }
  /*Features*/
  .feature p {
    line-height: 1.5;
  }
  /*Introduction*/
  .introduction__body p {
    line-height: 1.5;
  }
  /*Projects*/
  .project span {
    color: #fff;
    font-size: 1.3rem;
    opacity: 1;
    bottom: 3px;
  }
  /*Solution*/
  .solution p {
    line-height: 1.5;
  }
  /*Reviews*/
  .reviews__body p {
    line-height: 1.5;
  }
  /*News*/
  .news__item p {
    line-height: 1.5;
  }
}

@media (max-width: 890px) {
  /* Global */
  html {
    font-size: 13px;
  }
  body {
    text-align: center;
  }
  /* Features */
  .feature {
    width: 50%;
  }
  /* Introduction */
  .introduction__body {
    width: 100%;
  }
  .introduction__photo {
    display: none;
  }
  /* Reviews */
  .reviews .btn {
    float: none;
  }
  .reviews__body {
    width: 100%;
  }
  .reviews__photo {
    display: none;
  }
  /* News */
  .news__group .btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .news__item__title h3 {
    text-align: left;
  }
}

@media (max-width: 680px) {
  /* Global */
  html {
    font-size: 12px;
  }
  /* Features */
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feature {
    width: 70%;
    height: 33em;
    margin-bottom: 5em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .feature p {
    padding: 0 3em;
  }
  .feature:last-child {
    margin-bottom: 0;
  }
  /* Projects */
  .projects__wrap {
    margin: 5em 0 5em;
  }
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project {
    margin-bottom: -3px;
  }
  .project:last-child {
    margin-bottom: 0;
  }
  /* Solutions */
  .solutions__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .solution {
    width: 100%;
    height: auto;
    text-align: left;
    padding-top: 3em;
  }
  /* News */
  .news__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__item {
    width: 100%;
    height: auto;
    text-align: left;
  }
  .news__item .btn {
    margin-top: 2em;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .news__item__title {
    margin-bottom: 2em;
  }
}

@media (max-width: 510px) {
  /* Container */
  .container {
    width: 80%;
  }
  /* Typeography */
  h1 {
    font-size: 2.7rem;
  }
  /* Burger */
  .burger-menu__line {
    height: 2px;
    margin: 4px 0;
  }
  .toggle .burger-menu__line--first {
    -webkit-transform: rotate(-45deg) translate(-4px, 4px);
            transform: rotate(-45deg) translate(-4px, 4px);
  }
  .toggle .burger-menu__line--third {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
            transform: rotate(45deg) translate(-4px, -4px);
  }
  /* Features */
  .feature {
    width: 100%;
  }
  /* Contacts */
  .contacts__item i {
    width: 50px;
    height: 50px;
    font-size: 1em;
  }
  .contacts__item:nth-child(3) i {
    font-size: 1.5rem;
  }
  /* Socials */
  .socials i,
  .socials a {
    width: 50px;
    height: 50px;
    font-size: 2rem;
  }
}

@media (max-width: 380px) {
  /* Typeography */
  h1 {
    font-size: 2.5rem;
  }
  .contacts {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contacts__item i {
    width: 40px;
    height: 40px;
    font-size: 1em;
  }
  .contacts__item:nth-child(3) i {
    font-size: 1.5rem;
  }
  .contacts p {
    font-size: 0.7rem;
  }
  .socials i,
  .socials a {
    width: 40px;
    height: 40px;
    font-size: 2rem;
  }
}

@media (max-width: 360px) {
  /* Global */
  html {
    font-size: 10px;
  }
  /* Typeography */
  h1 {
    font-size: 2rem;
  }
  /* Footer */
  .footer__btn {
    bottom: -55px;
    width: 80px;
    height: 80px;
  }
  .footer__btn:hover {
    bottom: -50px;
  }
}
/*# sourceMappingURL=style.css.map */